body{
    background-color: honeydew;
}
.title {
    text-align: center;
    color: white;
}
.jumbotron {
    background-color: peachpuff;
}

#banner {
    background-color: brown;
    
}

h2 {
    text-align: center;
}

li {
    text-align: center;
}

